
$zinc50: rgb(250 250 250);
$zinc100: rgb(244 244 245);
$zinc200: rgb(228 228 231);
$zinc300: rgb(212 212 216);
$zinc400: rgb(161 161 170);
$zinc500: rgb(113 113 122);
$zinc600: rgb(82 82 91);
$zinc700: rgb(63 63 70);
$zinc800: rgb(39 39 42);
$zinc900: rgb(24, 24, 27);

$emerald50: rgb(236 253 245);
$emerald100: rgb(209 250 229);
$emerald200: rgb(167 243 208);
$emerald300: rgb(110 231 183);
$emerald400: rgb(52 211 153);
$emerald500: rgb(16 185 129);
$emerald600: rgb(5 150 105);
$emerald700: rgb(4 120 87);
$emerald800: rgb(6 95 70);
$emerald900: rgb(6 78 59);

$fuchsia50: rgb(253 244 255);
$fuchsia100: rgb(250 232 255);
$fuchsia200: rgb(245 208 254);
$fuchsia300: rgb(240 171 252);
$fuchsia400: rgb(232 121 249);
$fuchsia500: rgb(217 70 239);
$fuchsia600: rgb(192 38 211);
$fuchsia700: rgb(162 28 175);
$fuchsia800: rgb(134 25 143);
$fuchsia900: rgb(112 26 117);

$rose50: rgb(255 241 242);
$rose100: rgb(255 228 230);
$rose200: rgb(254 205 211);
$rose300: rgb(253 164 175);
$rose400: rgb(251 113 133);
$rose500: rgb(244 63 94);
$rose600: rgb(225 29 72);
$rose700: rgb(190 18 60);
$rose800: rgb(159 18 57);
$rose900: rgb(136 19 55);

$borderRadius: 7px;
$borderRadiusLg: 15px;

$fontSm: 0.9rem;
$fontXs: 0.8rem;
$fontXxs: 0.6rem;
$fontSize: 1rem;
$fontSizeMd: 1.2rem;
$fontSizeLg: 1.5rem;

$boxShadow: 1px 1px 5px rgba(100, 100, 100, 0.5);

$space: 15px;
$spaceXl: 1.5 * $space;
$spaceLg: 1.2 * $space;
$spaceSm: 0.8 * $space;
$spaceXs: 0.5 * $space;
$spaceXxs: 0.3 * $space;

$hoverColor: $emerald400;
$activeColor: $emerald500;

$animationSpeed: 300ms;
$animationSpeedSlow: 700ms;

$zIndexColorPicker: 1010;
$zIndexFloatingPane: 1000;
$zIndexViewSplitter: 300;
$zIndexSearchBarResults: 2000;
