
.ImageContainer {
    display: inline-block;
    margin: 15px 15px;
    position: relative;
    box-shadow: 0 0 15px #aaa;
    background-color: #fff;

    .Image {
        user-select: none;
        -webkit-user-select: none;
        z-index: 0;
        position: relative;
    }

    .InteractionInterface {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }

    ::selection {
    }
}

.BoundingBox {
    cursor: pointer;
    z-index: 2;
    &:hover {
        border-bottom: 1px solid blue;
    }
    &.Selected {
        background: rgba(0, 0, 50, 0.1);
    }
}

.DragArea {
    background-color: rgba(100, 0, 0, 0.1);
    position: absolute;
    user-select: none;
    -webkit-user-select: none;
}
