@import "src/sass/variables";

$paddingY: 7px;
$height: 43px;

.TextBox {
    padding: $paddingY;
    background-color: #efefef;
    border-radius: 10px;
    transition: all 0.5s;
    position: relative;
    height: $height;
    box-sizing: border-box;
    min-width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
}

.RelationDefinitionContainer {
    position: relative;
    min-width: 300px;
    margin-bottom: 7px;

    &.EditMode {
        height: $height * 4;
        .RelationInputsContainer { height: $height * 2; }
    }

    .RelationInputsContainer {
        display: flex;
        height: $height;
        align-items: center;
        width: 100%;
    }

    .DisplayRelation {
        padding: 0 $paddingY;
    }
}

.EmotionBarContainer {
    margin-bottom: $spaceXxs;
}
