
$paddingY: 7px;
$height: 43px;

.TextBox {
    padding: $paddingY 10px;
    background-color: #efefef;
    border-radius: 10px;
    transition: all 0.5s;
    position: absolute;
    height: $height;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    text-align: center;
}

.RelationInputsContainer {
    display: flex;
    position: absolute;
    align-items: center;
    height: $height * 2;
    width: 100%;
}
.RelationDefinitionContainer {
    position: relative;
    height: $height * 4;
    width: 300px;
    margin-bottom: 7px;
}
