@import "src/sass/variables";

.Table {
    border-collapse: collapse;
    width: 100%;
    th {
        text-align: left;
        border-bottom: 2px solid $zinc300;
        color: $zinc600;
        font-weight: bold;
        padding: 3px 7px;
    }

    .Row {
        border-bottom: 1px solid $zinc300;

        td {
            padding: $space $spaceXs;
            &:first-of-type {
                border-left: 1px solid $zinc300;
            }
            &:last-of-type {
                border-right: 1px solid $zinc300;
            }
        }

        &.Clickable {
            cursor: pointer;
            &:hover { background-color:  $zinc100; }
        }
    }
    .Checkbox {
        width: 25px;
        height: 25px;
    }
}

.SummaryFooter {
    display: flex;
    position: sticky;
    bottom: 0;
    background-color: #fff;
    padding: $space;
    border-top: 1px solid $zinc500;

    .Content {
        display: inline-flex;
        gap: 10px;
        align-items: flex-start;
    }
}
