@import "src/sass/variables";

.Container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;

    width: 100vw;

    .ModalBox {
        display: inline-flex;
        flex-direction: column;
        align-self: center;
        background-color: #fff;
        margin: 5vw $space;
        border-radius: $borderRadius;
        box-shadow: $boxShadow;
        border: 1px solid $zinc500;

        .Content {
            padding: $spaceXl;
        }
        .Header {
            font-size: $fontSizeLg;
            padding: $spaceXl;
        }
        .Footer {
            text-align: center;
            padding: $spaceXl;
        }
        &.xs {
            width: 400px;
            text-align: center;
            .Content {
                align-self: center;
            }
            .Header {
                text-align: center;
                align-self: center;
            }
        }
        &.sm { width: 500px; }
        &.md { width: 700px; }
    }
}
