@import "src/sass/variables";

.ContentTypeIndicator {
    position: absolute;
    top: 0;
    padding: $space;
    color: $zinc500;
    font-size: $fontSm;
    text-transform: uppercase;

    &.left {
        right: 100%;
    }
    &.right {
        left: 100%;
    }
}
