
.LintMenu {
    text-align: center;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.5);
}
