@import "src/sass/variables";

.PricingTable {
    width: 100%;
    max-width: 700px;
    margin: auto;
    border-collapse: collapse;

    td:first-child {
        text-align: left;
    }
    td {
        text-align: center;
        padding: $spaceXxs;
        border-bottom: 1px solid $zinc200;
    }
    td[colspan] {
        background-color: $zinc100;
    }
}
