.SearchInput {
    position: relative;
    z-index: 3;

    .ResultsContainer {
        position: absolute;
        top: 100%;
        width: 100%;
    }
    .Result {
        background-color: #ffffff;
        padding: 15px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        &:first-of-type {
            border-top: 1px solid #ccc;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        &:hover {
            background-color: #efefef;
            cursor: pointer;
        }

        &:last-of-type {
            border-top: none;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }
}
