@import "src/sass/variables";

.FloatingPane {
    display: block;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 35px rgba(0,0,0,0.3);
    border-radius: $borderRadiusLg;
    z-index: 1000;

    .Header {
        border-bottom: 1px solid #efefef;
        padding: $space;
        font-weight: 500;
        font-size: 18px;
    }
    .Footer {
        padding: $space;
        background-color: $zinc200;
    }
    .Content {
        padding: $space;
    }

    .CloseButton {
        position: absolute;
        background-color: #efefef;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -15px;
        right: -15px;
        cursor: pointer;
        color: #aaa;
        border: 2px solid #ccc;

        &:hover {
            background-color: blue;
        }
    }
}
