@import "src/sass/variables";

.CommentSection {
    display: flex;
    flex-direction: column;

    .ButtonFooter {
        display: flex;
        justify-content: space-between;
        justify-items: flex-end;
    }
    .CharCount {
        font-size: $fontXs;
        color: $zinc700;
    }

    .CommentList {
        list-style: none;
        padding: 0;
        margin: 0;
        max-height: 300px;
        overflow: scroll;
        padding-bottom: $space;
    }
    .MiniHeader {
        font-size: $fontSm;
        margin-bottom: $spaceXxs;
    }
}
