@import "src/sass/variables";

.Container {
    position: relative;
}
.Picker {
    position: absolute;
    left: 110%;
    top: 0;
    z-index: $zIndexColorPicker;
}

.Chip {
    padding-left: 8px;
}
.Preview {
    margin-left: 5px;
    &.Square {
        border: 2px solid #fff;
        width: 30px;
        height: 30px;
        box-shadow: $boxShadow;
        border-radius: $borderRadius;
    }
    &.Dot {
        box-shadow: $boxShadow;
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }
}
