
.OptionGroup {
    display: flex;
    .GroupLabel {
        width: 100px;
        flex: 0 0 100px;
        display: inline-block;
    }

}

.InlineRadioGroup {
    flex-direction: row !important;
    .Inline {
        display: inline-flex;
    }
}

.OptionLabel {
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
